.statisticscontainer {
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 5px 0px;
    background-color: #FFFFFF;
    width: 585px;
    height: 235px; 
    border-radius: 8px;
    box-shadow: 2px 3px 5px grey;
    
}

.statstoptextcontainer {
    background-color: #FFFFFF;
    padding-left: 5px;
    padding-top: 5px;
    line-height: 0rem;
    display: flex;
    flex-direction: row;
}

.statstext {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: 12px;
    background-color: #FFFFFF;
    width: 420px;
}

.statstextdetails {
    font-size: 0.75rem;
}

.statsseemore
{
    line-height: 20px;
    height: 20px;
    width: 75px;
    text-align: center;
    padding: 5px;
    background-color: blue;
    color: #FFFFFF;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 0.85rem;

}

.statsseemore p
{
    background-color: blue;
    margin: 0px 0px 0px 0px;

}

.statsseemore:hover
{
    opacity: 50%;
    cursor: pointer;
}

.statsicon {
    padding: 0px 0px 0px 2px;
    margin-top: 5px;
    background-color: rgb(238, 237, 237);
    border-radius: 100%;
}


.graphcontainer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0;
    height: 130px;
    width: 450px;
}

.dbbar {
    width: 40px;
    background-color: #27427a; 
    position: relative;
    border-radius: 8px 8px 8px 8px;
}

.lbbar {
    width: 40px;
    background-color: #4da7da; 
    position: absolute;
    bottom: 0;
    border-radius: 8px 8px 8px 8px;
    border: solid 1px white;
    left: -0.5px;
}

.y-numbers
{
    background-color: #FFFFFF;
    font-size: 12px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 20px;
    margin-left: 5px;
}

.y-numbers p
{
    background-color: #FFFFFF;
    margin: 5px 0px 0px 0px;
}

.x-numbers
{
    width: 435px;
    background-color: #FFFFFF;
    font-size: 12px;
    line-height: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0px;
    margin-left: 50px;
}

.x-numbers p
{
    background-color: #FFFFFF;
    margin: 5px 0px 0px 0px;
}

.uppergraph {
    background-color: #FFFFFF;
    width: 500px;
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center; 
}

.entiregraph
{
    background-color: #FFFFFF;
    
}

.allgraph
{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}

.circle-text-container {
    background-color: #FFFFFF;
    display: flex;
    height: 50px;
    
}
  
.statscircle {
    width: 15px;
    height: 10px;
    background-color: #27427a; 
    border-radius: 50%; 
    margin: 0px 5px 0px 5px;
  }
  
.statscircletext {
    background-color: #FFFFFF;
    font-size: 14px;
    color: black;
    font-weight:500;
    height: 50px;
    margin: 0px 0px 0px 5px;
  }

  .tpcircle
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: 5px;
  }

  .rightstatcontent
  {
    display: flex;
    flex-direction: column;
  }
  

.statscircle2 {
    width: 15px;
    height: 10px;
    background-color: #4da7da;
    border-radius: 50%; 
    margin: 0px 5px 0px 5px;
  }
  
.statscircletext2 {
    background-color: #FFFFFF;
    font-size: 14px;
    color: black;
    font-weight:500;
    height: 50px;
    margin: 0px 0px 0px 5px;
  }

.twicircle
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 5px;
  }
